@model WebApplication3.Models.CarReg

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CarReg</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.date)
        </dd>
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Employee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Employee)
        </dd>*@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.plateNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.plateNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.timein)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.timein)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.timeout)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.timeout)
        </dd>
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SecurityStaff)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SecurityStaff)
        </dd>*@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.status)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
